<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
        <connectionStrings>
  
  <!--<add name="CadenaACIMECT" connectionString="Data Source=PC131\SQLEXPRESS;Initial Catalog=MECTIENDA;User ID=sa;Password=A234b678;;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
   <add name="CadenaACIMECT" connectionString="Data Source=DESKTOP-20RO9HU\SQLEXPRESS;Initial Catalog=Tenebrosa;User ID=sa;Password=A234b678;;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>

    
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />

    </startup>
</configuration>